
nav{
    height: 100px!important;
    background-color:rgb(241, 241, 241,0.9);
    width: 100%!important;
    display: block!important;
}

.container{
    margin-left:0px!important ;
    margin-right:0px!important ;
    max-width: 100%!important;
    display: block!important;
}
#navbar li a {
text-align: center!important;
font-size: 20px!important;
padding: 30px!important;
font-family:'Times New Roman', Times, serif;
color: rgb(23, 23, 36)!important;
transition: 0.3s ease-in-out;
font-style: italic;
    font-weight: bold;
    font-size: 16px;
}
#navbar li a:hover{
    color: rgb(140, 177, 224)!important;
}
#small{
    display: none;
}

#small i {
    align-items: center;
}

@media screen and (max-width:991px) {
    nav{
        height: 100px!important;
        background-color:rgb(241, 241, 241,0.9);
        width: 100%!important;
        display: flex!important;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
    }
    #small{
        display: block;
        float: right;
        position: relative;
        top: -70px;
        right: 50px;
        font-size:30px ;
        
    }
    #navbar {
        list-style-type: none;
        position: relative;
        right: -455px;
        text-align: center!important;
        font-size: 20px!important;
        padding: 30px!important;
        font-family:'Times New Roman', Times, serif;
        color: rgb(23, 23, 36)!important;
        transform: 0.9s ease-in-out;
        }
        li a:hover,
        li a.active{
            color: rgb(153, 153, 226)!important;
        }
        #navbar.actives{
            right: -280px!important;
            top: -8px;
            background-color:rgb(241, 241, 241,0.9);
            width: 250px;
            margin: auto;
            
        }
    .collapse:not(.show) {display: block!important;}
}
@media screen and (max-width:768px) {
    nav{
        height: 100px!important;
        background-color:rgb(241, 241, 241,0.9);
        width: 100%!important;
        display: flex!important;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
    }
    #small{
        display: block;
        float: right;
        position: relative;
        top: -80px;
        right: 10px;
        font-size:30px ;
    }
    #navbar {
        list-style-type: none;
        position: fixed;
        right: -200px;
        text-align: center!important;
        padding: 0px!important;
        font-family:'Times New Roman', Times, serif;
        color: rgb(23, 23, 36)!important;
        transform: 0.9s ease-in-out;
        z-index: 1000; /* Ensure the navbar items are on top of other content */
        }
       #navbar li a{
            font-size: 18px !important;
            padding-bottom: 50px !important;
            padding-top: 50px !important;
            text-align: center;
            color: rgb(2, 2, 2) !important;
            font-style: italic !important;
            font-weight: bold ;
        }
        li a:hover,
        li a.active{
            color: rgb(153, 153, 226)!important;
        }
        #navbar.actives{
            right: 0px!important;
            top: 100px;
            background-color:rgba(131, 127, 150, 0.952);
            width: 180px;
            border-radius: 0 0 20px 20px;
        }
        /* #navbar.actives .sidebar{
            margin-top: 50px !important;
        } */
    .collapse:not(.show) {display: block!important;}
}