.sidebar {
    margin-top: 120px;
    margin-left: 20px;
    padding: 0;
    width: 150px;
    border-radius: 20px;
    background-color:rgb(241, 241, 241,0.9)!important;
    position: fixed;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    margin-top: 50px;
    text-decoration: none;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
  }
  #last-sec{
    margin-bottom: 50px;
  }
  .sidebar a:hover{
    background-color:rgba(131, 127, 150);
    color: white;
    border-radius: 0px;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    
  }
  
  @media screen and (max-width: 768px) {
    .sidebar {
      width: 98%;
      height:50px;
      text-align: center;
      position: relative !important;
      margin-top: 100px;
      overflow: hidden;
      left: -16px;
      border-radius: 50px !important;

  }
  .sidebar a {
    display:inline;
    position: relative;
    top: 25%;
    font-style: italic !important;
    font-weight: bold ;
    font-size: 16px;
   

  }
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }